CATALOG {
  background-color: #ffffff;
  width: 100%;
}

CD {
  display: block;
  margin-bottom: 30pt;
  margin-left: 0;
}

TITLE {
  color: #FF0000;
  font-size: 20pt;
}

ARTIST {
  color: #0000FF;
  font-size: 20pt;
}

COUNTRY, PRICE, YEAR, COMPANY {
  display: block;
  color: #000000;
  margin-left: 20pt;
}
